<!doctype html>
<html>
	{{> head}}
<body>
	<header>
		{{> header}}
	</header>
    <main class="{{title}}">
        {{{content}}}
    </main>
    <footer id="footer">
        {{> footer}}
    </footer>
</body>
</html>